<div class="login-wrapper">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      Company Product Name
    </label>
    <div class="login-group">
      <label class="required">Space</label>
      <input
        class="username"
        type="text"
        id="email"
        formControlName="username"
        placeholder="Username"
      >
      <input
        class="password"
        type="password"
        id="password"
        formControlName="password"
        placeholder="Password"
      >

      <div *ngIf="errorHandler" class="error active">
        {{ errorHandler }}
      </div>


      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign In</button>
    </div>
  </form>
</div>
