{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> Seed Project </title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'app/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{% static 'app/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<app-root> Loading...</app-root>

<script type="text/javascript" src="{% static 'app/runtime.js' %}"></script>
<script type="text/javascript" src="{% static 'app/polyfills.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'app/main.js' %}"></script>
</body>
</html>

